DATABASE_URL="postgresql://spur_user:spur_password@localhost:5440/spur_db?schema=public"
POSTGRES_USER=spur_user
POSTGRES_PASSWORD=spur_password
POSTGRES_DB=spur_db
JWT_SECRET="super_secret_jwt_key_spur_2025"
GEMINI_API_KEY=""
